@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; 
}

:root {
  --white: rgb(255, 255, 255);
  --light-grey: rgb(237, 237, 237);
  --black: rgb(20, 20, 20);
  --strong-grey: rgb(117, 117, 117);
  --strong-blue: rgb(0, 14, 145);
  --light-blue: rgb(0, 26, 255);
}